# Exploring the Data from Pedestrian Injuries

This notebook will explore another dataset with the types of pedestrian accident injuries.

## Setup

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style="darkgrid")

In [3]:
raw_data = pd.read_csv("./data/Pedestrian_Collision_Injuries.csv")

In [4]:
raw_data.head()

,Admission Type,Year,Pedestrian Injury Type,Count
0,Emergency Department Visit,2013,"Pedestrian injured in collision with car, pick...",582.0
1,Emergency Department Visit,2014,"Pedestrian injured in collision with car, pick...",555.0
2,Emergency Department Visit,2015,"Pedestrian injured in collision with car, pick...",555.0
3,Emergency Department Visit,2016,"Pedestrian injured in collision with car, pick...",545.0
4,Emergency Department Visit,2017,"Pedestrian injured in collision with car, pick...",488.0

In [5]:
raw_data['Admission Type'].value_counts()

Admission Type
Emergency Department Visit    42
Hospital Admission            33
Name: count, dtype: int64

In [6]:
raw_data['Year'].value_counts()

Year
2014    14
2018    14
2016    13
2013    12
2015    12
2017    10
Name: count, dtype: int64

Uh oh, looks like this data is kinda old and not that useful to us right now.

In [7]:
raw_data['Pedestrian Injury Type'].value_counts()

Pedestrian Injury Type
Pedestrian injured in collision with car, pick-up truck or van              12
Pedestrian injured in collision with heavy transport vehicle or bus         12
Pedestrian injured in other and unspecified transport accidents             12
Pedestrian injured in collision with other nonmotor vehicle                 10
Pedestrian injured in collision with pedal cycle                            10
Pedestrian injured in collision with railway train or railway vehicle       10
Pedestrian injured in collision with two- or three-wheeled motor vehicle     9
Name: count, dtype: int64

In [9]:
raw_data.describe()

              Year       Count
count    75.000000   57.000000
mean   2015.493333   83.385965
std       1.734961  161.521201
min    2013.000000    1.000000
25%    2014.000000    7.000000
50%    2015.000000   18.000000
75%    2017.000000   61.000000
max    2018.000000  582.000000

In [11]:
raw_data.isnull().sum()

Admission Type             0
Year                       0
Pedestrian Injury Type     0
Count                     18
dtype: int64

In [12]:
mean_count = raw_data['Count'].mean()
raw_data['Count'].fillna(mean_count, inplace=True)

/var/folders/qw/y3ys43gs7cdblx18lvtrz8r40000gn/T/ipykernel_4113/1918922291.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  raw_data['Count'].fillna(mean_count, inplace=True)

In [13]:
raw_data.isnull().sum()

Admission Type            0
Year                      0
Pedestrian Injury Type    0
Count                     0
dtype: int64

## EDA
The data is pretty clean, so we can check in on the analysis